{% extends 'persistent.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="
                margin: 0 auto;
                margin-top: 1rem;
            ">
                <img src="{% static 'stephensGate.jpg' %}" class="img-fluid titleImage" alt="stephensGate">
                <div class="centered" style="
                    font-family: Helvetica, Verdana;
                    font-weight: bold;
                    font-size: 70px;
                    color: white;
                "> Sean O'Connell</div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-top: 4rem">
            <h1 class="heading">About</h1>
            <div class="col-md-6" style="margin-top: 2rem">
                <p class="paragraph">
                    I am an amateur Photographer from Dublin and a full time Software Engineer. What better way to combine these by creating my own portfolio website? My favourite things to photograph include wildlife, portraits and cities. My equipment includes a Canon EOS Rebel T5 with 18-55mm kit lens, Tamron 70-300mm lens and DJI Mavic Mini drone. Please don't hesitate to contact me to purchase prints or for commissions.
                </p>
            </div>
        </div>
    </div>

{% endblock %}